<h1 class="tituloprincipal">Pagina principal</h1>


  <section class="home">

    <div class="in-flex ">
      
      <img src="assets/images/logobici.png" class="d-block" alt="...">   
     </div>

    <div class="in-flex">
      <h1 class="m-5">Registrate</h1>
 <div>
 <p class="texto1">
 Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Numquam iusto nesciunt veritatis fugiat rem totam quis itaque magnam explicabo laborum.

 </p>
</div>
  
            
    </div>

      <div class="in-flex">
        <h1 class="m-5">Informacion</h1>   

        <div>
        <p class="texto1">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
          Qui rem ea numquam consequuntur. Ipsa, fugiat alias inventore veritatis eius quod.
        
        </p> 
      </div>
       </div>

    
  </section>