<div class="container">
     

    <div class="table-responsive-md no-more-tables"> 
     <h1 class="titulo">Disponibilidad</h1>
    <table class="table">
      <thead class="bg-dark text-light">
        <tr>
            <th scope="col">ID Bicicleta</th>
            <th scope="col">Usuario Propietario</th>
          <th scope="col">Color</th>
          <th scope="col">Fecha Reserva</th>
          <th scope="col">Latitutd</th>
          <th scope="col">Longitud</th>
          <th scope="col">Modelo</th>
          <th scope="col">Usuario quien reserva</th>
          <th scope="col">Fecha Devolucion </th>
          <th scope="col">Estado Reserva</th>
          <!-- <th scope="col">Opciones</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of disponibilidad">
            <td data-title="ID Bicicleta">{{item.idBicicleta}}</td>
            <td data-title="Usuario Propietario"> {{item.userPropietario}}</td>
            <td data-title="Color"> {{item.color}}</td>
            <td data-title="Fecha Reserva"> {{item.fechaReserva}}</td>
            <td data-title="Latitutd"> {{item.latitud}}</td>
            <td data-title="Longitud"> {{item.longitud}}</td>
            <td data-title="Modelo"> {{item.modelo}}</td>
          <td data-title="Usuario quien reserva">{{item.userReserva}}</td>
          <td data-title="Fecha Devolucion ">{{item.fechaDevolucion}}</td>
          <td data-title="Estado Reserva ">{{item.estadoReserva}}</td>
         
          
          

          
          
        </tr>
      </tbody>
    </table>
   </div>
   </div>
