
<div class="container m-5">
<form (ngSubmit)="enviar(f)"
#f = 'ngForm'>
    <div class="mb-3">

      <label for="exampleInputEmail1" class="form-label">Color</label>
      <span *ngIf="f.submitted && f.controls['color'].errors"
                class="text-danger animated fadeIn"> Ingrese la informacion solicitada</span>
     
      <input 
      class="form-control"
      type="text" 
      name="color" 
      [(ngModel)]="bicicletas.color"
      required
      minlength="2"
      placeholder="Color de la bicicleta">

     
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Modelo</label>

      <span *ngIf="f.submitted && f.controls['modelo'].errors"
                class="text-danger animated fadeIn"> Ingrese la informacion solicitada</span>
                <div class="wrap-input100 m-b-16">
                    <input class="form-control"
                           type="text" 
                           name="modelo" 
                           [(ngModel)]="bicicletas.modelo" 
                           required
                           minlength="1"
                           placeholder="Modelo de la bicicleta">

                    <span class="focus-input100"></span>
                </div>

    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Latitud</label>
  
        <span *ngIf="f.submitted && f.controls['latitud'].errors"
        class="text-danger animated fadeIn"> Ingrese la informacion solicitada</span>
        <div class="wrap-input100 m-b-16">
            <input class="form-control" 
                   type="number" 
                   name="latitud" 
                   [(ngModel)]="bicicletas.latitud" 
                   required
                   minlength="1"
                   placeholder="ingrese latitud">

            <span class="focus-input100"></span>
        </div>
        <div id="emailHelp" class="form-text">Este campo es numerico, recibe decimales y enteros.</div>
  
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Longitud</label>
  
        <span *ngIf="f.submitted && f.controls['longitud'].errors"
        class="text-danger animated fadeIn"> Ingrese la informacion solicitada</span>
        <div class="wrap-input100 m-b-16">
            <input class="form-control" 
                   type="number" 
                   name="longitud" 
                   [(ngModel)]="bicicletas.longitud" 
                   required
                   minlength="1"
                   placeholder="Ingrese longitud">
                   

            <span class="focus-input100"></span>
        </div>

        <div id="emailHelp" class="form-text">Este campo es numerico, recibe decimales y enteros.</div>


  
      </div>


      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Nombre del usuario</label>
  
        <span *ngIf="f.submitted && f.controls['userPropietario'].errors"
        class="text-danger animated fadeIn"> Ingrese la informacion solicitada</span>

        <div class="wrap-input100 m-b-16">
            <input class="form-control"
                   type="text" 
                   name="userPropietario"
                   [(ngModel)]="bicicletas.userPropietario" 
                   required
                   minlength="2"
                   placeholder="Ingrese el nombre">

            <span class="focus-input100"></span>
        </div>
        


  
      </div>

      

    <button type="submit" class="btn btn-primary">Registrar</button>
  </form>
</div>